config/vised/buttons.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)-->
<!ELEMENT buttons (type+)>
<!ELEMENT setting EMPTY>
<!ATTLIST setting
	stylesheet CDATA #IMPLIED
	text CDATA #IMPLIED
	labelstyle CDATA #IMPLIED
	led CDATA #IMPLIED
	background CDATA #IMPLIED
	style CDATA #IMPLIED
	name CDATA #IMPLIED
	nextstate CDATA #IMPLIED
	navigate CDATA #IMPLIED
	navigatedest CDATA #IMPLIED
	stylesheet.button CDATA #IMPLIED
	buttontext CDATA #IMPLIED
	defaultstyle CDATA #IMPLIED
>
<!ELEMENT type (setting*)>
<!ATTLIST type
	name CDATA #REQUIRED
	class CDATA #REQUIRED
	style CDATA #REQUIRED
	pixmap CDATA #REQUIRED
	w CDATA #REQUIRED
	h CDATA #REQUIRED
>
