config/launch.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)-->
<!ELEMENT launch (workstation*)>
<!ELEMENT workstation (application*)>
<!ATTLIST workstation
	csi CDATA #REQUIRED
	id CDATA #REQUIRED
>
<!ELEMENT application EMPTY>
<!ATTLIST application
	name CDATA #REQUIRED
	restartoncrash CDATA #IMPLIED
	arguments CDATA #IMPLIED
>
